<html>
	<meta charset="UTF-8">
	<title>Mobvista AD Plathom</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
	<link rel="stylesheet" href="adPage.css">
	<script type="text/javascript">
	var GAId = 'UA-62639739-1';
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	    ga('create', GAId, 'auto');
	    ga('send','pageview');
	</script>
	<body>
		<div id="headBlock">
			<div class="backBlock"> </div>
			<div id="outerRound"> </div>
			<div id="innerRound"> </div>

			<div id="face"> 
				<div id="leftEye"> </div>
				<div id="rightEye"> </div>
				<div id="mouth"> </div>
			</div>
		</div>
		<div id="slogan">
			<span id="errMsg">Your download link has expired</span><br id="sloganBr"/>
			We have other recommendation for you!
		</div>
		<div id="contentContainer">
			<div class="adSection" id="topBlock">
				<h3 class="title">Daily Discovery</h3>
				<div class="content">
					<div id="contentWarp">
						<img id="leftIcon" class="icon" src="icon.jpg"/>
						<div id="topInfo">
							<span class="name">
								Virtuagym
							</span>
							<div id="star"> </div>
							<div id="desc">
								Get in the best shape of  your life with Virtuagym Fitness. Work out alongside our 3D-animated personal trainer.
							</div>
							<div id="download">
								<span>Download For Free</span>
							</div>
						</div>
					</div>
					
					

				</div>

			</div>
			<div id="clearBlock" class="clear"> </div>

			<div id="secondSection">
				<div class="adSection" id="middleBlock">
					<h3 class="title">Optimize Your Android</h3>
					<div class="content" id="appsContainer">
						<div class="app">
							<img class="icon" src="icon.jpg">
							<span class="name">
								Virtuagym
							</span>
						</div>

						<div class="app">
							<img class="icon" src="icon.jpg">
							<span class="name">
								Virtuagym
							</span>
						</div>

						<div class="app">
							<img class="icon" src="icon.jpg">
							<span class="name">
								Virtuagym
							</span>
						</div>

						<div class="app">
							<img class="icon" src="icon.jpg">
							<span class="name">
								Virtuagym
							</span>
						</div>

					</div>

				</div>

				<div id="bottomBlock">
					<a href="http://www.rayjump.com?appId=18571&s=4802a1deb1fb7836b86f1f18da81b1a1" id="gameEntry">
						<table cellspacing="0" cellpadding="0">
							<tr>
								<td id="topBanner" colspan="2" class="top" valign="top">PLAY NOW</td>
							</tr>
							<tr>
								<td rowspan="2" class="leftBanner tal">&nbsp;</td>
								<td class="tal">&nbsp;</td>
							</tr>
							<tr>
								<td class="tal">&nbsp;</td>
							</tr>
							<tr>
								<td id="bottomBanner" class="tal" colspan="2">&nbsp;</td>
							</tr>
						</table>
					</a>

					<div id="adsenseBlock">
						<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- 尾量渠道 -->
						<ins id="adUnit" class="adsbygoogle"
						     style="display:inline-block;width:336px;height:280px"
						     data-ad-client="ca-pub-2204455335532111"
						     data-ad-slot="7693539589"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>

					</div>
				</div>

			</div>

		</div>
		
		

	</body>
	<script type="text/javascript" src="geAd.js"></script>
	<script type="text/javascript" src="adPage.js"></script>
</html>