@font-face{
	font-family: lato_regular;
	src:url("lato_regular.ttf");
}
@font-face{
	font-family: lato_bold;
	src:url("lato_bold.ttf");
}
*{
	margin: 0px;
	padding: 0px;
}

html,body{
	width: 100%;
	height: 100%;
	position: relative;
}
.clear{
	display: block;
	width: 100%;
	clear: both;
	height: 1px;
}

#headBlock{
	overflow: hidden;
	width: 100%;
	background-color: #05baa7;
	position: relative;
}

#headBlock>.backBlock{
	width:100%;
	height: 800%;
	position: relative;
	top:50%;
	background-color: #209988;
	-webkit-transform: rotate(-75deg);
	-moz-transform: rotate(-75deg);
	-ms-transform: rotate(-75deg);
	-o-transform: rotate(-75deg);
	transform: rotate(-75deg);

	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-ms-transform-origin: top center;
	-o-transform-origin: top center;
	transform-origin: top center;

}

#headBlock #outerRound{
	position: absolute;
	background-color: transparent;
	border:2px white solid;
	left:50%;
	border-radius: 50%;
}
#headBlock #innerRound{
	position: absolute;
	background-color: white;
	left:50%;
	border-radius: 50%;
}

#headBlock #face{
	position: absolute;
	background-color: #05baa7;
	border:4px white solid;
	left:50%;
	top:40%;
	border-radius: 50%;
}

#headBlock #face #leftEye{
	position: absolute;
	left:20%;
	top:33%;
	width:15%;
	height: 15%;
	background-color: white;
	border-radius: 50%;
}
#headBlock #face #rightEye{
	position: absolute;
	right:20%;
	top:33%;
	width:15%;
	height: 15%;
	background-color: white;
	border-radius: 50%;
}

#headBlock #face #mouth{
	position: relative;
	margin: auto;
	top:63%;
	width:40%;
	height: 8%;
	background-color: white;
	border-radius: 5px;
}

#slogan{
	width: 100%;
	text-align: center;
	color:#2ea7e0;
	font-size: 27px;
	line-height: 34px;
	font-family: 'lato_bold';
}

#contentContainer{
	position: relative;
}

#bottomBlock #gameEntry{
	display: inline-block;
	border: 1px solid #afafaf;
	margin-right: auto;
	border-radius: 20px;
}

#bottomBlock #gameEntry>table{
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: relative;
}
#bottomBlock #gameEntry>table:after{
	content: ' ';
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	width:22%;
	height: 0px;
	padding-top: 22%;
	background-image: url('free.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center middle;
}
#bottomBlock #gameEntry>table td{
	text-align: center;
	color:white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center middle;
}

#bottomBlock #gameEntry>table td.leftBanner{
	width: 50%;
}
#bottomBlock #gameEntry>table td.top{
	background-color: orange;
	position: relative;
}
#bottomBlock #gameEntry>table td.top:after{
	content: ' ';
	display: block;
	position: absolute;
	width:0px;
	height: 0px;
	border: 15px solid transparent;
	border-top: 15px solid white;
	left: 50%;
	margin-left: -15px;
	bottom:0px;
}

#bottomBlock #adsenseBlock{
	float: right;
	display: inline-block;
	/*background-color: #5d5d5d;*/
	position: relative;
	overflow: hidden;
	border: 1px solid #ddd;
	-webkit-transform-origin: middle center;
	-moz-transform-origin: middle center;
	-ms-transform-origin: middle center;
	-o-transform-origin: middle center;
	transform-origin: middle center;
}

.adSection{
	width: 100%;
	overflow: hidden;
}

.adSection .title{
	display: inline-block;
	color: #332852;
	font-size: 27px;
	line-height: 34px;
	font-weight: bolder;
	font-family: 'lato_bold';
}

.adSection .btn{
	display: inline-block;
	float: right;
	color:white;
	background-color: #05baa7;
	position: relative;
	font-size: 18px;
	border-radius: 10px;
	overflow: hidden;
}
.adSection .btn span{
	position: relative;
	z-index: 2;
	font-family: 'lato_bold';
}
.adSection .btn:before{
	content: ' ';
	display: block;
	position: absolute;
	width: 100%;
	height: 300%;
	background-color: #209988;
	top:0px;
	left:0px;
	z-index: 1;

	-webkit-transform: rotate(-75deg);
	-moz-transform: rotate(-75deg);
	-ms-transform: rotate(-75deg);
	-o-transform: rotate(-75deg);
	transform: rotate(-75deg);

	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-ms-transform-origin: top center;
	-o-transform-origin: top center;
	transform-origin: top center;

}

.adSection .content{
	background-color: #dcdddd;
	border-radius: 20px;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-box-pack: justify;
	-o-box-pack: justify;
	box-pack: justify;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-box-orient: horizontal;
	-o-box-orient: horizontal;
	box-orient: horizontal;
}
.adSection .content .app{
	cursor:pointer;
}
.adSection .content .icon{
	border-radius: 15px;
}
.adSection .content .name{
	display: block;
	width:100%;
	text-align: center;
	font-size: 18px;
	color:#332852;
	font-family: 'lato_bold';
	overflow: hidden;
	white-space:normal;
	word-break:break-all;
　　	word-wrap:break-word;
}
.adSection .content .info{
	position: absolute;
	font-family: 'lato_regular';
	/*background-color: red;*/
}
#topBlock{
	min-height: 100px;
}
#topBlock .content{
	display: block;
	position: relative;
	cursor:pointer;
}
#topBlock #contentWarp{
	display: table;
	margin: auto;
}

#topBlock #contentWarp #leftIcon{
	display: table-cell;
	vertical-align: top;
}
#topBlock #contentWarp #topInfo{
	display: table-cell;
	vertical-align: top;
	position: relative;
	padding-left:10px;
}
#topBlock #contentWarp #topInfo .name{
	margin-top:0px !important;
}

#topBlock .content .name{
	display: inline-block;
	width: auto;
	text-align: left;

	white-space:normal;
	word-break:break-all;
　　	word-wrap:break-word;
}
#topBlock .content #star{
	background-image: url('star.png');
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
}

#topBlock .content #desc{
	overflow: hidden;
	height: 0px;

	white-space:normal;
	word-break:break-all;
　　	word-wrap:break-word;
}

#topBlock .content #download{
	background-color: #504a6d;
	position: absolute;
	right: 0px;
	bottom:0px;
	color: white;
	overflow: hidden;
}
#topBlock .content #download span{
	position: relative;
	z-index: 2;
}
#topBlock .content #download:before{
	content: ' ';
	display: block;
	position: absolute;
	width: 100%;
	height: 500%;
	background-color: #332852;
	top:0px;
	left:0px;
	z-index: 1;

	-webkit-transform: rotate(-75deg);
	-moz-transform: rotate(-75deg);
	-ms-transform: rotate(-75deg);
	-o-transform: rotate(-75deg);
	transform: rotate(-75deg);

	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-ms-transform-origin: top center;
	-o-transform-origin: top center;
	transform-origin: top center;

}

#middleBlock{
	overflow: hidden;
}

#adUnit{
	display: block;
	position: absolute;
	left:50%;
	margin-left: -168px;
	top:50%;
	margin-top: -140px;
}

.noticeframe{
	position: absolute;
	width:1px;
	height: 1px;
	left:-1px;
	top:-1px;
	z-index: -1;
	opacity: 0;
}












