@font-face {
    font-family: Material Icons;
    font-style: normal;
    font-weight: 400;
    src: url(MaterialIcons-Regular.eot?e79bfd88);
    src: local("Material Icons"), local("MaterialIcons-Regular"), url(MaterialIcons-Regular.woff2?570eb838) format("woff2"), url(MaterialIcons-Regular.woff?012cf6a1) format("woff"), url(MaterialIcons-Regular.ttf?a37b0c01) format("truetype")
}

.material-icons {
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga"
}

.ico-social-facebook {
    background-image: url(../images/sprite.png?3f70c5c0);
    background-position: 0 -46px;
    width: 24px;
    height: 24px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .ico-social-facebook {
        background-image: url(../images/sprite@2x.png?618f1aae);
        background-size: 28px 122px
    }
}

.ico-social-linkedin {
    background-image: url(../images/sprite.png?3f70c5c0);
    background-position: 0 -72px;
    width: 25px;
    height: 24px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .ico-social-linkedin {
        background-image: url(../images/sprite@2x.png?618f1aae);
        background-size: 28px 122px
    }
}

.ico-social-twitter {
    background-image: url(../images/sprite.png?3f70c5c0);
    background-position: 0 -21px;
    width: 28px;
    height: 23px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .ico-social-twitter {
        background-image: url(../images/sprite@2x.png?618f1aae);
        background-size: 28px 122px
    }
}

.ico-social-youtube {
    background-imag../images.png?3f70c5c0);
    background-position: 0 0;
    width: 28px;
    height: 19px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .ico-social-youtube {
        background-image: url(../images/sprite@2x.png?618f1aae);
        background-size: 28px 122px
    }
}

.ico-social-wechat {
    background-image: url(../images/sprite.png?3f70c5c0);
    background-position: 0 -98px;
    width: 27px;
    height: 24px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .ico-social-wechat {
        background-image: url(../images/sprite@2x.png?618f1aae);
        background-size: 28px 122px
    }
}

html {
    font-size: 14px
}

@media only screen and (min-width:601px) {
    html {
        font-size: 15px
    }
}

@media only screen and (min-width:993px) {
    html {
        font-size: 16px
    }
}

@media only screen and (min-width:1201px) {
    html {
        font-size: 18px
    }
}

@media only screen and (min-width:1680px) {
    html {
        font-size: 20px
    }
}

body,
html {
    width: 100%;
    overflow: hidden;
    overflow-y: auto
}

body {
    background-color: #303740;
    color: #fff;
    font-size: 16px
}

.container {
    width: 92%;
    max-width: 1600px
}

@media only screen and (min-width:601px) {
    .container {
        width: 95%
    }
}

@media only screen and (min-width:993px) {
    .container {
        width: 93%
    }
}

@media only screen and (min-width:1201px) {
    .container {
        width: 86%
    }
}

@media only screen and (min-width:1680px) {
    .container {
        width: 80%
    }
}

.container .row {
    margin-left: -2.5%;
    margin-right: -2.5%
}

.container .g-row-sm {
    margin-left: -.83333%;
    margin-right: -.83333%
}

.container .g-row-sm>.col {
    padding: 0 .83333%
}

.container .g-row-lg {
    margin-left: -4.16667%;
    margin-right: -4.16667%
}

.container .g-row-lg>.col {
    padding: 0 4.16667%
}

.row {
    margin-top: 0;
    margin-bottom: 0
}

.row>.col {
    margin-top: 1rem;
    margin-bottom: 1rem
}

@media only screen and (max-width:992px) {
    .row>.col.m6:nth-child(odd) {
        clear: left
    }
}

.pagination {
    margin: 3rem 0 0;
    text-align: center
}

.pagination li {
    margin: 0 2px;
    border-radius: 3px
}

.pagination li:first-child,
.pagination li:last-child {
    border: 1px solid #b6c3cd
}

.pagination li.active {
    border-color: #8fc31f
}

.pagination li a {
    font-size: 14px;
    color: #fff
}

.dropdown-content {
    min-width: auto;
    border-radius: 12px !important;
    box-shadow: 0 1px 13.44px 2.56px rgba(0, 0, 0, .2);
    white-space: nowrap
}

.dropdown-content li {
    min-height: auto
}

.dropdown-content li.disabled {
    cursor: default
}

.dropdown-content li>a {
    font-size: 14px
}

.m-modal-container {
    position: fixed;
    top: 0;
    width: 0;
    height: 100%;
    z-index: 1001
}

.modal {
    max-width: 800px;
    max-height: 80%;
    background: #303740;
    top: auto !important
}

.modal.m-modal-sm {
    max-width: 480px
}

.modal .modal-content {
    padding: 1.2rem
}

span.badge {
    float: none;
    display: inline-block;
    vertical-align: middle;
    min-width: auto;
    margin: 0 .5em 0 0;
    padding: 0 6px;
    text-transform: uppercase
}

span.badge,
span.badge.new {
    font-size: 12px;
    border-radius: 4px
}

.m-slider-multi .carousel-item,
.m-slider-multi .slides li {
    padding-left: 4.16667%
}

.m-slider-multi .slides {
    background: none
}

.m-slider-multi .slides li .m-img-contain img {
    background-size: 100% 100%
}

.m-slider-multi .indicators,
.m-slider-multi>.btn {
    bottom: auto;
    left: 0;
    width: 1.6rem
}

.m-slider-multi .indicators {
    z-index: 99;
    top: 70px
}

.m-slider-multi .indicators .indicator-item {
    width: 8px;
    height: 8px;
    margin: 8px 5px;
    background-color: hsla(0, 0%, 100%, .5)
}

.m-slider-multi .indicators .active {
    background-color: #fff
}

.m-slider-multi>.btn {
    position: absolute;
    min-width: auto;
    z-index: 100;
    top: 30px;
    padding: 0;
    border: none;
    text-align: center
}

.m-slider-multi>.btn:hover {
    background: none;
    color: #fff;
    box-shadow: none
}

@media only screen and (max-width:600px) {

    .m-slider-multi .carousel-item,
    .m-slider-multi .slides li {
        padding-left: 10.41667%
    }
}

.m-wechat-materialboxed {
    position: relative;
    overflow: hidden
}

.m-wechat-materialboxed #materialbox-overlay {
    opacity: .5 !important
}

.m-wechat-materialboxed div.material-placeholder {
    display: inline
}

.m-wechat-materialboxed .materialboxed {
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .2s
}

.m-wechat-materialboxed .materialboxed:hover {
    opacity: 0
}

.m-wechat-materialboxed .materialboxed.active {
    opacity: 1
}

.m-wechat-materialboxed .materialboxed.active img {
    max-height: 300px
}

.m-wechat-materialboxed .materialboxed img {
    position: absolute;
    z-index: 1001;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    max-width: 95%;
    max-height: 100%;
    border-radius: 3px
}

header {
    height: 3.8rem
}

header.m-header-alpha+main {
    margin-top: -3.8rem
}

@media only screen and (max-width:600px) {
    header {
        height: 68px
    }

    header.m-header-alpha+main {
        margin-top: -68px
    }
}

.m-header-alpha.s-active.m-header-white-logo nav .mintegral-logo {
    fill: #fff
}

.m-header-alpha.s-active nav {
    box-shadow: none;
    background: none
}

.m-header-alpha.s-active nav .dropdown-content {
    background-color: transparent
}

nav {
    position: relative;
    z-index: 99;
    background-color: #303740;
    transition: background-color .5s;
    text-align: center;
    font-weight: 700
}

nav .btn {
    padding: 0 .8rem;
    font-size: inherit;
    height: 1.55rem;
    line-height: 1.55rem
}

nav,
nav .btn,
nav a {
    text-transform: uppercase
}

nav .brand-logo {
    position: static;
    margin: 0 1.25rem 0 0
}

nav .brand-logo img,
nav .brand-logo svg {
    display: inline-block;
    vertical-align: middle;
    width: 7.6rem;
    height: 1.95rem
}

nav .dropdown-content a,
nav ul a {
    font-size: .7rem;
    padding: 0 1.25rem
}

nav .dropdown-content a:hover,
nav ul a:hover {
    background: none
}

nav .dropdown-content a:focus,
nav ul a:focus {
    outline: none
}

nav .dropdown-content {
    top: 78% !important;
    overflow: hidden
}

nav .dropdown-content a {
    display: block;
    height: 35px;
    line-height: 35px
}

nav .button-collapse {
    margin: 0
}

nav .button-collapse i {
    color: #fff;
    font-size: 30px
}

nav .u-dropdown-lang {
    position: relative;
    margin: 0
}

nav .u-dropdown-lang+.u-dropdown-lang {
    margin-left: 1rem
}

nav .u-dropdown-lang .dropdown-trigger {
    padding: 0
}

nav .u-dropdown-lang .dropdown-content {
    top: 80% !important;
    min-width: auto
}

nav .u-dropdown-lang .dropdown-content[data-constrain-idth] {
    width: 100% !important
}

nav .u-dropdown-lang .dropdown-content a {
    padding: 0 .8rem
}

nav .sidenav-trigger {
    margin: 0
}

nav ul.right li:first-child a.btn {
    margin-left: 0
}

@media only screen and (max-width:1579px) {
    nav .brand-logo {
        margin-right: .9rem
    }

    nav .dropdown-content a,
    nav ul a {
        padding: 0 .9rem
    }
}

@media only screen and (max-width:992px) {
    nav .brand-logo {
        transform: none
    }
}

.m-nav-lg .dropdown-content a,
.m-nav-lg ul a {
    font-size: 16px
}

@media only screen and (max-width:1279px) {

    .m-nav-lg .dropdown-content a,
    .m-nav-lg ul a {
        font-size: 15px
    }
}

.m-nav-list {
    display: inline-block;
    vertical-align: top
}

.m-nav-list>li {
    position: relative
}

.m-nav-list>li>a:after {
    content: "";
    display: block;
    position: relative;
    top: -1rem;
    width: 0;
    height: 0;
    overflow: hidden;
    margin-top: -2px;
    border-top: 2px solid #fff;
    transition: width .2s ease
}

.m-nav-list>li>a.s-active:after,
.m-nav-list>li>a:hover:after {
    width: 2em
}

.m-nav-list>li>a:hover {
    background: none;
    color: hsla(0, 0%, 100%, .7)
}

.sidenav {
    width: 250px;
    height: 100%
}

.sidenav,
.sidenav a {
    text-transform: uppercase;
    font-weight: 600
}

.sidenav .brand-logo {
    display: block;
    padding: 16px
}

.sidenav .brand-logo img,
.sidenav .brand-logo svg {
    width: 9.5rem;
    height: 2.45rem
}

.sidenav ul {
    margin: 0
}

.sidenav .collapsible-header {
    padding: 0 16px
}

.sidenav .collapsible-body li a {
    height: 55px;
    line-height: 55px;
    padding: 0 0 0 2em;
    font-size: 14px
}

.sidenav .u-dropdown-lang {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 0 16px
}

.sidenav .u-dropdown-lang a {
    font-size: 14px
}

.sidenav .u-dropdown-lang .dropdown-content[data-constrain-idth] {
    width: 100% !important
}

.sidenav .u-dropdown-lang .dropdown-content a {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center
}

footer {
    background-color: #303740;
    font-size: 16px
}

footer a {
    color: inherit
}

footer .u-hr {
    border-bottom: 1px solid hsla(0, 0%, 100%, .2)
}

@media only screen and (max-width:600px) {
    footer {
        font-size: 12px
    }
}

footer.m-footer-white-logo .mintegral-tagline-logo {
    fill: #fff
}

.m-footer-refferal {
    padding: 6.2rem 0;
    font-size: .9rem;
    text-align: center
}

.m-footer-refferal .m-slogan-sm {
    margin: 0;
    font-size: 1.5rem
}

.m-footer-refferal .btn-large {
    margin-left: 1em
}

.m-footer-refferal .btn-large:first-child {
    margin-left: 0;
    margin-right: 1em
}

@media only screen and (max-width:600px) {
    .m-footer-refferal .row>.col {
        width: 100%
    }

    .m-footer-refferal .btn-large {
        display: block;
        width: 100%;
        margin: 20px 0
    }

    .m-footer-refferal .btn-large:last-child {
        margin-bottom: 0
    }
}

.m-footer-content {
    padding: 6rem 0 1.5rem
}

.m-footer-content a {
    color: #fff
}

.m-footer-content .brand-logo {
    display: block;
    margin: 0 0 20px
}

.m-footer-content .brand-logo img,
.m-footer-content .brand-logo svg {
    display: block;
    width: 225px;
    height: 81px
}

.m-footer-content .brand-logo~p {
    margin: 34px 0 0
}

.m-footer-content .m-txt {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    white-space: nowrap
}

.m-footer-content .m-txt dt {
    font-size: 1rem;
    text-transform: uppercase
}

.m-footer-content .m-txt dd {
    margin: 15px 0 0;
    color: hsla(0, 0%, 100%, .8)
}

.m-footer-content .m-txt dd a {
    color: inherit
}

.m-footer-content .m-txt dd a:after {
    content: "";
    display: block;
    margin-bottom: 5px
}

.m-footer-content .m-social-links a {
    display: inline-block;
    vertical-align: middle
}

.m-footer-content .m-social-links a+a {
    margin-left: 35px
}

.m-footer-content .m-social-links a i {
    display: block;
    font-size: 0;
    line-height: 0
}

@media only screen and (max-width:992px) {

    .m-footer-content,
    .m-footer-content .col.right-align {
        text-align: center
    }

    .m-footer-content .brand-logo,
    .m-footer-content .brand-logo~p {
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto
    }

    .m-footer-content .brand-logo svg {
        margin: auto
    }
}

.m-footer-info {
    padding: 1rem 0;
    text-align: center
}

.m-footer-info p {
    display: inline-block
}

@media only screen and (max-width:992px) {
    .m-footer-info .left {
        float: none !important;
        display: block
    }
}

.m-sect-pack {
    margin-top: 0;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-size: 150% 100%
}

.m-sect-pack.m-sect-top {
    background-size: cover;
    background-position: bottom
}

.m-sect-pack:after,
.m-sect-pack:before {
    content: "";
    display: table;
    height: 0;
    overflow: hidden
}

.m-sect-pack.m-sect-pack-auto-x {
    background-size: auto 100%
}

.m-sect-pack.m-sect-pack-auto-y {
    background-size: 150% auto
}

@media only screen and (min-width:601px) {
    .m-sect-pack {
        background-size: 135% 100%
    }

    .m-sect-pack.m-sect-pack-auto-y {
        background-size: 135% auto
    }

    .m-sect-pack.m-sect-pack-cover-y {
        background-size: 135% 100%
    }
}

@media only screen and (min-width:993px) {
    .m-sect-pack {
        background-size: 120% 100%
    }

    .m-sect-pack.m-sect-pack-auto-y {
        background-size: 120% auto
    }

    .m-sect-pack.m-sect-pack-cover-y {
        background-size: 120% 100%
    }
}

@media only screen and (min-width:1201px) {
    .m-sect-pack {
        background-size: 110% 100%
    }

    .m-sect-pack.m-sect-pack-auto-y {
        background-size: 110% auto
    }

    .m-sect-pack.m-sect-pack-cover-y {
        background-size: 110% 100%
    }
}

@media only screen and (min-width:1680px) {

    .m-sect-pack,
    .m-sect-pack.m-sect-pack-auto-x,
    .m-sect-pack.m-sect-pack-cover-y {
        background-size: 100% 100%
    }

    .m-sect-pack.m-sect-pack-auto-y {
        background-size: 100% auto
    }
}

section.container,
section>.container {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem
}

.m-slogan,
.m-slogan-lg,
.m-slogan-sm,
.m-slogan-xl {
    line-height: 1.4;
    font-weight: 600;
    text-transform: uppercase
}

.s-lang-en .m-slogan,
.s-lang-en .m-slogan-lg,
.s-lang-en .m-slogan-sm,
.s-lang-en .m-slogan-xl {
    line-height: 1.2
}

.m-slogan-xl {
    font-size: 3.4rem
}

@media only screen and (max-width:1279px) {
    .m-slogan-xl {
        font-size: 3.06rem
    }
}

@media only screen and (max-width:992px) {
    .m-slogan-xl {
        font-size: 2.72rem
    }
}

@media only screen and (max-width:600px) {
    .m-slogan-xl {
        font-size: 1.7rem
    }
}

.m-slogan-lg {
    font-size: 3rem
}

@media only screen and (max-width:1279px) {
    .m-slogan-lg {
        font-size: 2.7rem
    }
}

@media only screen and (max-width:992px) {
    .m-slogan-lg {
        font-size: 2.4rem
    }
}

@media only screen and (max-width:600px) {
    .m-slogan-lg {
        font-size: 1.5rem
    }
}

.m-slogan {
    font-size: 2.1rem
}

@media only screen and (max-width:1279px) {
    .m-slogan {
        font-size: 1.89rem
    }
}

@media only screen and (max-width:992px) {
    .m-slogan {
        font-size: 1.68rem
    }
}

@media only screen and (max-width:600px) {
    .m-slogan {
        font-size: 1.47rem
    }
}

.m-slogan-sm {
    font-size: 1.5rem
}

@media only screen and (max-width:992px) {
    .m-slogan-sm {
        font-size: 1.35rem
    }
}

@media only screen and (max-width:600px) {
    .m-slogan-sm {
        font-size: 1.05rem
    }
}

.m-slogan-detail-lg {
    font-size: 1.2rem;
    line-height: 1.5
}

.m-slogan-detail {
    font-size: .9rem;
    line-height: 1.6;
    color: #b6c3cd
}

.m-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    max-width: 100%
}

.m-pic:before {
    content: "";
    display: block
}

.m-pic-tag {
    margin: 15px 0 10px;
    font-size: 12px;
    line-height: 1;
    color: #879296
}

.m-pic-tag span {
    margin-right: 1em;
    font-weight: 600;
    color: #8fc31f
}

.m-txt {
    margin: 0;
    font-size: .9rem
}

.m-txt dt {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: Gotham;
    text-transform: uppercase
}

.m-txt dt i {
    display: block;
    margin: 0 auto 25px
}

.m-txt dd {
    margin: 18px 0 0;
    color: #b6c3cd
}

.m-txt a {
    color: inherit
}

.m-pic-txt .m-pic {
    padding-top: 56.25%
}

.m-pic-txt .m-pic+.m-txt {
    margin-top: 15px
}

.m-pic-txt .m-txt dt {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.m-img-contain,
.m-img-cover {
    position: relative;
    z-index: 0;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden
}

.m-img-contain img,
.m-img-cover img {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto
}

.m-img-contain img {
    max-width: 100%;
    max-height: 100%
}

.m-img-cover img {
    min-width: 100%;
    min-height: 100%
}

.m-video-cover {
    position: relative;
    width: 38.1rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden
}

.m-video-cover.m-video-cover-no-bg,
.m-video-cover .m-video-wrapper {
    background: #000
}

.m-video-cover:before {
    content: "";
    display: block;
    padding-top: 44.75066%
}

.m-video-cover .m-img-contain,
.m-video-cover .m-video-ctrl,
.m-video-cover .m-video-wrapper,
.m-video-cover .m-video-wrapper video {
    perspective: none;
    transform-style: flat;
    transform-origin: 50% 50%
}

.m-video-cover .m-img-contain,
.m-video-cover .m-video-ctrl,
.m-video-cover .m-video-wrapper {
    position: absolute;
    z-index: 99;
    top: 11.5%;
    left: 7%;
    width: 85%;
    height: 69%;
    transform: skew(-33deg) rotate(7.5deg);
    border-radius: 11%;
    overflow: hidden
}

.m-video-cover .m-img-contain img,
.m-video-cover>video {
    width: 100%;
    height: 100%
}

.m-video-cover>video {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0
}

.m-video-cover .m-video-wrapper video {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    transform: scaleX(1.55)
}

.m-video-cover .m-video-wrapper video.m-video-scale {
    transform: scale(1.6, 1.2)
}

.m-video-cover .m-video-wrapper .material-icons {
    position: absolute;
    z-index: 100;
    color: hsla(0, 0%, 100%, .6);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    font-size: 50px;
    line-height: 1
}

.m-video-cover .m-video-wrapper:after {
    content: "";
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6)
}

.m-video-cover .m-video-ctrl {
    cursor: pointer;
    z-index: 200
}

.m-video-cover .m-video-ctrl.s-playing+.m-video-wrapper .material-icons,
.m-video-cover .m-video-ctrl.s-playing+.m-video-wrapper:after {
    display: none
}

.m-video-cover:not(.m-video-cover-no-bg):after {
    content: "";
    position: absolute;
    z-index: 199;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg-mobile-cover.png?9cedf7a8) no-repeat 50%/contain
}

.m-video-cover.m-video-flip,
.m-video-cover.m-video-flip .material-icons {
    transform: rotateY(180deg)
}

.m-video-cover.m-video-flip video {
    transform: scaleX(1.55) rotateY(180deg)
}

.m-video-cover.m-video-flip video.m-video-scale {
    transform: scale(1.6, 1.2) rotateY(180deg)
}

.m-video-cover.m-video-portrait {
    width: 32rem
}

.m-video-cover.m-video-portrait:before {
    padding-top: 84.53125%
}

.m-video-cover.m-video-portrait .m-img-contain,
.m-video-cover.m-video-portrait .m-video-ctrl,
.m-video-cover.m-video-portrait .m-video-wrapper {
    top: 4%;
    left: 24%;
    width: 50%;
    height: 87%;
    transform: skew(-32deg) rotate(7deg)
}

.m-video-cover.m-video-portrait:after {
    background-image: url(../images/bg-mobile-cover-portrait.png?7ca07b1e)
}

.btn,
.btn-large {
    box-shadow: none;
    text-transform: none
}

.btn-large.s-no-min,
.btn.s-no-min {
    min-width: auto
}

.btn-large:focus,
.btn:focus {
    background: none
}

.btn-large:hover,
.btn:hover {
    color: #303740;
    background: #fff
}

.btn-large.disabled,
.btn-large[disabled],
.btn.disabled,
.btn[disabled] {
    border-color: #9fa0a0
}

.btn-large.u-btn-primary,
.btn.u-btn-primary {
    border-color: #8fc31f;
    color: #8fc31f
}

.btn-large.u-btn-primary:hover,
.btn.u-btn-primary:hover {
    color: #fff;
    background: #8fc31f
}

.btn-large.u-btn-primary.disabled,
.btn-large.u-btn-primary[disabled],
.btn.u-btn-primary.disabled,
.btn.u-btn-primary[disabled] {
    border-color: #9fa0a0;
    color: #9fa0a0
}

.btn {
    min-width: 7rem
}

.btn-large {
    min-width: 7.5rem;
    font-size: .9rem
}

.fixed-action-btn {
    right: auto;
    left: 50%;
    margin-left: 40%;
    margin-left: calc(45% - 40px);
    padding: 0
}

.fixed-action-btn ul {
    position: static;
    margin-top: 5px
}

.fixed-action-btn em {
    display: inline-block;
    vertical-align: middle;
    text-align: center
}

.fixed-action-btn.active a.btn-floating {
    opacity: 1
}

@font-face {
    font-family: Gotham;
    src: url(Gotham-Bold.eot?fc8d65b3);
    src: url(Gotham-Bold.eot?fc8d65b3) format("embedded-opentype"), url(Gotham-Bold.woff2?dd4e2cfe) format("woff2"), url(Gotham-Bold.woff?bc4295ef) format("woff"), url(Gotham-Bold.ttf?7c4782d7) format("truetype"), url(Gotham-Bold.svg?7c36befc) format("svg");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Gotham Book;
    src: url(Gotham-Book.eot?dee91073);
    src: url(Gotham-Book.eot?dee91073) format("embedded-opentype"), url(Gotham-Book.woff2?872fc247) format("woff2"), url(Gotham-Book.woff?fc83c669) format("woff"), url(Gotham-Book.ttf?7fec114f) format("truetype"), url(Gotham-Book.svg?4715dba6) format("svg");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.eot?3b5ac997);
    src: url(Roboto-Regular.eot?3b5ac997) format("embedded-opentype"), url(Roboto-Regular.woff2?4a96a87f) format("woff2"), url(Roboto-Regular.woff?7816c39b) format("woff"), url(Roboto-Regular.ttf?5673da52) format("truetype"), url(Roboto-Regular.svg?fcd2b4d1) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(Roboto-Bold.eot?e45fec08);
    src: url(Roboto-Bold.eot?e45fec08) format("embedded-opentype"), url(Roboto-Bold.woff2?a968ef41) format("woff2"), url(Roboto-Bold.woff?067d2055) format("woff"), url(Roboto-Bold.ttf?36b5bab5) format("truetype"), url(Roboto-Bold.svg?d60c1e60) format("svg");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Source Han Sans CN;
    src: url(SourceHanSansCN-Regular.ttf?ed1ec815) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Source Han Sans CN;
    src: url(SourceHanSansCN-Bold.ttf?1a27772c) format("truetype");
    font-weight: 600;
    font-style: normal
}

html {
    font-family: Roboto, Source Han Sans CN, Arial, STHeiti, SimHei, sans-serif
}

.f-bold-font,
.m-footer-content .m-txt dt,
.m-slogan,
.m-slogan-lg,
.m-slogan-sm,
.m-slogan-xl,
header {
    font-weight: 600;
    font-family: Gotham, Roboto, Source Han Sans CN, Arial, STHeiti, SimHei, sans-serif
}

.f-med-bold-font {
    font-weight: 500;
    font-family: Gotham Book, Roboto, Source Han Sans CN, Arial, STHeiti, SimHei, sans-serif
}

.f-regular-font {
    font-weight: 400;
    font-family: Roboto, Source Han Sans CN, Arial, STHeiti, SimHei, sans-serif
}

@media only screen and (min-width:1201px) {
    .hide-on-extra-large-only {
        display: none !important
    }
}

@media only screen and (max-width:1579px) {
    .hide-on-extra-large-and-down {
        display: none !important
    }
}

@media only screen and (max-width:1279px) {
    .hide-on-large-and-down {
        display: none !important
    }
}

.f-multi-line-2 {
    -webkit-line-clamp: 2
}

.f-multi-line-2,
.f-multi-line-3 {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical
}

.f-multi-line-3 {
    -webkit-line-clamp: 3
}

.f-nowrap {
    white-space: nowrap
}

.f-hide-tag {
    position: absolute;
    z-index: 9;
    display: inline-block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0
}

.f-hide-text {
    font-size: 0;
    line-height: 0
}

.f-block-center {
    margin-left: auto;
    margin-right: auto
}

.f-db {
    display: block
}

.f-mt-sm {
    margin-top: 1rem
}

.f-mt {
    margin-top: 3rem
}

.f-mt-lg {
    margin-top: 5rem
}

.f-mt-xl {
    margin-top: 7.5rem
}

.lazyload,
.lazyload:after,
.lazyload:before {
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat 50%/cover !important
}

img.lazyload {
    width: 100%;
    height: 100%
}