@font-face{
	font-family: talent_font;
	src:url("../assets/fonts/talent-font.ttf");
}

* {
	-webkit-user-select:none; /* Prevent copy paste for all elements except text fields */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* set highlight color for user interaction */
	-webkit-touch-callout: none; /* prevent the popup menu on any links*/
	margin:0;
	padding:0;
}

html, body, #iframe {
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	margin-bottom: 0px !important;
	background-color: black;
}

input, textarea, *[contenteditable="true"] {
	-webkit-user-select: initial;
	-webkit-touch-callout: initial;
}

iframe {
	border: 0;
	width: 100%;
	/*height: 100%;*/
	overflow: hidden;
	/*display: none;*/
}

#seoFrame{
	position: absolute;
	left:1px;
	top: 1px;
	width: 1px;
	height: 1px;
	z-index: 1;
	visibility: hidden;
}

#backMenu{
	position: fixed;
	top: 10px;
	left: 10px;
	padding: 5px;
	height: 40px;
	width: 40px;
	z-index: 999999;
	background-color: yellowgreen;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	overflow: hidden;
	opacity: 0.8;
	-webkit-box-shadow: 1px 0 0 rgba(255,255,255,.1);
	-moz-box-shadow: 1px 0 0 rgba(255,255,255,.1);
	box-shadow: 1px 0 0 rgba(255,255,255,.1);
}
#backMenu>.line_A{
	position: absolute;
	top:30%;
	left:20%;
	width: 50%;
	height: 4px;
	background: rgba(255,255,255,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);
	transform: rotate(-40deg);
}
#backMenu>.line_B{
	position: absolute;
	top:60%;
	left:20%;
	width: 50%;
	height: 4px;
	background: rgba(255,255,255,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-transform: rotate(40deg);
	-moz-transform: rotate(40deg);
	-ms-transform: rotate(40deg);
	-o-transform: rotate(40deg);
	transform: rotate(40deg);
}

#header{
	height: 70px;
	width: 100%;
	background-color: #efeff0;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999;
}

#header>#backHome{
	position: absolute;
	left: 15px;
	top: 15px;
}
#header>#extBtn{
	position: absolute;
	right: 15px;
	top: 20px;
}
#iframe{
	/*background-color: red;*/
	position: absolute;
	left: 0px;
	right: 0px;
	top:70px;
	bottom: 60px;
	overflow: hidden;
	height: initial;
}

ul, li, dl {
	list-style: none;
}

.trans-all {
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
}

.not-in-focus {
}

.loading-box {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 9999;
		height: 120%;
		background: rgba(0,0,0,.85);
	}
	.loading-box h1 {
		position: absolute;
		top: 30%;
		width: 100%;
		text-align: center;
	}
	.loading-box h1 em {
		color: #007aff;
		font-size: .9em;
		font-style: italic;
	}
	.loading-box h1 p.loader {
		padding-top: 5px;
	}
	.loading-box h1 p.loader a {
		display: inline-block;
		margin: 2px 8px 0 0;
		width: 12px;
		height: 12px;
		background: #007aff;
		-webkit-border-radius: 6px; 
		-moz-border-radius: 6px; 
		border-radius: 6px;
		-webkit-transition: 1s linear all;
		-moz-transition: 1s linear all;
		transition: 1s linear all;
	}

.maskContainer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: 9999999;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	-webkit-box-pack: end;
	-moz-box-pack: end;
	-ms-box-pack: end;
	-o-box-pack: end;
	box-pack: end;

	-ms-flex-pack: end;
	justify-content: center;
	background: rgba(0,0,0,.7);
}

	.maskContent {
		width: 100%;
		padding: 15px 0px;
		background: rgba(255,255,255,.9);
		-webkit-box-shadow: 0px 2px 20px rgba(0,0,0,.85);
		-moz-box-shadow: 0px 2px 20px rgba(0,0,0,.85);
		box-shadow: 0px -5px 120px rgba(0,0,0,.85);
		-webkit-border-radius: .8em;
		-moz-border-radius: .8em;
		-ms-border-radius: .8em;
		-o-border-radius: .8em;
		border-radius: 0px;
	}

	.maskContent>.share-custom{
		width: 100%;
		display: -webkit-box;
		-webkit-box-pack: center;
	}
	.maskContent>.share-custom a{
		margin: 10px !important;
		float: none !important;
	}
	.maskContent>.share-custom.feed a{
		margin: 15px !important;
	}
	.maskContent>.spliter{
		width: 100%;
		height: 2px;
		border-color: #d8d8d8;
		background-color: #d8d8d8;

	}
	.maskContent>h3{
		width: 100%;
		text-align: center;
		padding: 15px 0px;
		color: #767676;
	}
	.maskContent>.btn{
		color:#1a78d9;
		border-radius: 0px;
		border-top: 3px solid #d8d8d8;
	}

	.maskContent{
		position: relative;
		-webkit-transition-property: all;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0.1s;
		-webkit-transform: translate(0%,100%);


		-moz-transition-property: all;
		-moz-transition-duration: 0.3s;
		-moz-transition-delay: 0.1s;
		-moz-transform: translate(0%,100%);


		-ms-transition-property: all;
		-ms-transition-duration: 0.3s;
		-ms-transition-delay: 0.1s;
		-ms-transform: translate(0%,100%);


		-o-transition-property: all;
		-o-transition-duration: 0.3s;
		-o-transition-delay: 0.1s;
		-o-transform: translate(0%,100%);


		transition-property: all;
		transition-duration: 0.3s;
		transition-delay: 0.1s;
		transform: translate(0%,100%);
	}
	#maskMenu{
		display: none;
	}
	#maskMenu.show{
		display: block;
	}
	#maskMenu .maskContent.show {
		-webkit-transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
		-ms-transform: translate(0px,0px);
		-o-transform: translate(0px,0px);
		transform: translate(0px,0px);
	}



.container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: 99999;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: rgba(0,0,0,.3);
}

	.content {
		width: 400px;
		padding: 15px;
		background: rgba(255,255,255,.9);
		-webkit-box-shadow: 0px 2px 20px rgba(0,0,0,.85);
		-moz-box-shadow: 0px 2px 20px rgba(0,0,0,.85);
		box-shadow: 0px 2px 20px rgba(0,0,0,.85);
		-webkit-border-radius: .8em;
		-moz-border-radius: .8em;
		-ms-border-radius: .8em;
		-o-border-radius: .8em;
		border-radius: .8em;
	}

/* ============================= jiathis =========================== */


.share-custom {
	padding-bottom: 10px;
}
.share-custom:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
	.share-custom a {
		float: left !important;
		display: block !important;
		margin: 5px !important;
		padding: 0 !important;
		width: 64px !important;
		height: 64px !important;
		background-color: #fff !important;
		background-size: 104% 104% !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		border-radius: 18px !important;
		border: 1px solid rgba(0,0,0,.1) !important;
		font-size: 0;
	}
	.share-custom a:hover {
		opacity: .5;
	}
	.share-custom a span {
		display: none;
	}

	.btn {
		display: block;
		margin: 0 -15px -15px;
		padding: 18px 0;
		color: #007aff;
		font-size: 1.3em;
		text-align: center;
		background: rgba(255,255,255,.5);
		-webkit-border-bottom-right-radius: .8em;
		-moz-border-bottom-right-radius: .8em;
		border-bottom-right-radius: .8em;
		-webkit-border-bottom-left-radius: .8em;
		-moz-border-bottom-left-radius: .8em;
		border-bottom-left-radius: .8em;
	}

.facebook {
	background-image: url('./facebook.jpg') !important;
}
.twitter {
	background-image: url('./twitter.jpg') !important;
}
.googleplus {
	background-image: url('./googleplus.jpg') !important;
}
.pinterest {
	background-image: url('./Pinterest.jpg') !important;
}
.delicious {
	background-image: url('./Delicious.jpg') !important;
}
.buffer {
	background-image: url('./buffer.jpg') !important;
}
.gmail {
	background-image: url('./gmail.jpg') !important;
}
.tumblr {
	background-image: url('./tumblr.jpg') !important;
}


	@media screen and (max-width: 540px) {
		.content {
			width: 230px;
		}
	}

		.content h1 {
			font-size: 1.6rem;
			color: #000;
			font-weight: 300;
			padding-bottom: 10px;
		}

		.content h1 a {
			text-decoration: none;
			color: #007aff;
			font-size: 18px;
			float: right;
		}

		

		.btn:hover {
			background: rgba(0,0,0,.1);
		}

	.list_item {
		margin-bottom: 10px;
	}
		.list_item li {
			padding: 10px 0;
			border: 1px solid rgba(0,0,0,.1);
			font-size: 1.2em;
			line-height: 1.5;
			margin-bottom: 10px;
			text-align: center;
			border-radius: 6px;
			background: rgba(255,255,255,.5);
		}
		.list_item li:hover, .list_item li.active {
			background: #007aff;
			color: #fff;
		}
			.list_item li a {
				text-decoration: none;
				color: #000;
			}
			.list_item li:hover a, .list_item li.active a {
				color: #fff;
			}

	.share_content_box {
		margin-bottom: 10px;
	}
	.share_content_box p {
		line-height: 1.5;
	}
		.share_content_box p {
			line-height: 36px;
		}	
			.share_content_box p span {
				display: inline-block;
			}
			.share_content_box p span.name {
				font-size: 20px;
			}
			.share_content_box p span.value {
				text-indent: 12px;
				font-size: 36px;
			}

	.action {
		margin: 0 -15px;
	}
	.action .cancel, .action .share {
		border-top: 1px solid rgba(0,0,0,.1);
		margin: 15px 0 -15px;
		float: left;
		width: 50%;
	}
		.action .cancel {
			margin-right: 0px;
			-webkit-border-bottom-right-radius: 0;
			-moz-border-bottom-right-radius: 0;
			border-bottom-right-radius: 0;
			-webkit-border-bottom-left-radius: .8em;
			-moz-border-bottom-left-radius: .8em;
			border-bottom-left-radius: .8em;
		}
		.action .share {
			border-left: 1px solid rgba(0,0,0,.1);
			margin-left: -1px;
			-webkit-border-bottom-right-radius: .8em;
			-moz-border-bottom-right-radius: .8em;
			border-bottom-right-radius: .8em;
			-webkit-border-bottom-left-radius: 0;
			-moz-border-bottom-left-radius: 0;
			border-bottom-left-radius: 0;
		}


.meun {
	position: fixed;
	top: 10px;
	left: 10px;
	padding: 5px;
	height: 40px;
	width: 40px;
	z-index: 999999;
	background-color: yellowgreen;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	overflow: hidden;
	opacity: 0.8;
	-webkit-box-shadow: 1px 0 0 rgba(255,255,255,.1);
	-moz-box-shadow: 1px 0 0 rgba(255,255,255,.1);
	box-shadow: 1px 0 0 rgba(255,255,255,.1);
}

.meun:hover, .meun:active {
	opacity: 1;
}

	.meun .line_1, .meun .line_2, .meun .line_3 {
		margin: 7px auto;
		width: 70%;
		height: 4px;
		background: rgba(255,255,255,1);
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}







.rank_content_box {
      height: 141px;
      overflow: hidden;
      overflow-y: scroll;
    }
    .mini_u_item {
      position: relative;
      min-height: 38px;
      padding: 4px 0 4px 80px;
      border-bottom: 1px solid rgba(0,0,0,.05);
    }
    .mini_icon {
      position: absolute;
      top: 4px;
      left: 30px;
      width: 36px;
      height: 36px;
      background-position: center;
      background-size: 104% 104%;
      overflow: hidden;
      border: 1px solid rgba(0,0,0,.1);
      border-radius: 50%;
    }
    .mini_u_item .rank_num {
      position: absolute;
      top: 4px;
      left: 0;
      font-size: 36px;
      line-height: 38px;
    }
    .mini_u_item .hd .name {
      font-size: 1em;
    }
    .mini_u_item .hd time {
      position: absolute;
      right: 0;
      color: #999;
      font-size: .8em;
    }
    .mini_u_item .score_content {
      padding-top: 5px;
      font-size: .9em;
      color: #007aff;
    }
    .num_1 {
      color: crimson;
    }
    .num_2 {
      color: darkorange;
    }
    .num_3 {
      color: lightsalmon;
    }
    .my_rank {
      margin-top: 15px;
      text-align: center;
      padding: 8px 4px;
      background: rgba(255,255,255,.9);
      border: 1px solid rgba(0,0,0,.1);
      border-radius: 4px;
    }
    .my_rank .pipe {
      color: #999;
      padding: 0 2px;
    }
    .my_score {
      margin-top: 5px;
    }

    .content {
      position: relative;
    }
    .content h1 span {
      font-size: .8em;
      position: absolute;
      right: 15px;
      line-height: 36px;
      color: crimson;
    }
    .my_rank_num {
      color: crimson;
    }


#Mark_2d {
	display: none;
	position: absolute;
	top: 30px;
	right: 30px;
}

	@media screen and (min-width: 800px) {
		body {
			max-width: 540px;
			margin: 0 auto;
		}
		#Mark_2d {
			display: block;
		}
	}

.Mark_2d {
	width: 120px;
	height: 120px;
	background-color: #fff;
}
.Mark_2d img {
	display: block;
	width: 100%;
	height: 100%;
}

.flashFont01{
	text-shadow:0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px #000DFF, 0 0 70px #0077FF;
	-webkit-animation: twinkling 2.4s infinite linear 0s;
	-moz-animation: twinkling 2.4s infinite linear 0s;
	-ms-animation: twinkling 2.4s infinite linear 0s;
	-o-animation: twinkling 2.4s infinite linear 0s;
	animation: twinkling 2.4s infinite linear 0s;
}
.flashFont02{
	text-shadow:0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px #000DFF, 0 0 70px #0077FF;
	-webkit-animation: twinkling 2.4s infinite linear 1.2s;
	-moz-animation: twinkling 2.4s infinite linear 1.2s;
	-ms-animation: twinkling 2.4s infinite linear 1.2s;
	-o-animation: twinkling 2.4s infinite linear 1.2s;
	animation: twinkling 2.4s infinite linear 1.2s;
	opacity: 0;
}

@-webkit-keyframes twinkling{ 
	0%{  
		opacity:0;  
	}  
	25%{  
	  	opacity:1;  

	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}

 }
 @-moz-keyframes twinkling{ 
	0%{  
		opacity:0;  
	}  
	25%{  
	  	opacity:1;  

	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}

 }
 @-ms-keyframes twinkling{ 
	0%{  
		opacity:0;  
	}  
	25%{  
	  	opacity:1;  

	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}

 }
 @-o-keyframes twinkling{ 
	0%{  
		opacity:0;  
	}  
	25%{  
	  	opacity:1;  

	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}

 }
 @keyframes twinkling{ 
	0%{  
		opacity:0;  
	}  
	25%{  
	  	opacity:1;  

	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}

 }


